{{ top-bar title='Home' }}

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">

    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

      <div width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop home-stat">
        <p class="stats-title">Open Issues</p>
        <p id="open-size" class="stats-number">
          {{ model.issues.open_issues.length }}
        </p>
      </div>

      <div width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop home-stat">
        <p class="stats-title">Closed Issues</p>
        <p id="closed-size" class="stats-number">
          {{ model.issues.closed_issues.length }}
        </p>
      </div>

      <div width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop home-stat">
        <p class="stats-title">Total Customers</p>
        <p id="cus-size" class="stats-number">
          {{ model.customers.length }}
        </p>
      </div>

      <div width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop home-stat">
        <p class="stats-title">Total Employees</p>
        <p id="emp-size" class="stats-number">
          {{ model.employees.length }}
        </p>
      </div>
    </div>

    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="text-align: center">
      <div id="curve_chart_home" class="chart"></div>
      <hr />
      
      <p class="employee-loc-title">
        <strong>Employee Locations & Number</strong>
      </p>
      <div class="employee-loc-detail">
        <p class="employee-loc-detail-text"><strong class="map-label-color">0</strong> Boston: <span id="num-emp-Boston"></span></p>
        <p class="employee-loc-detail-text"><strong class="map-label-color">1</strong> Chicago: <span id="num-emp-Chicago"></span></p>
        <p class="employee-loc-detail-text"><strong class="map-label-color">2</strong> SanFrancisco: <span id="num-emp-SanFrancisco"></span></p>
        <p class="employee-loc-detail-text"><strong class="map-label-color">3</strong> Orlando: <span id="num-emp-Orlando"></span></p>
      </div>
      <div id='map-canvas_home' class="us-map-area"></div>
    </div>

    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">

      <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
          <h2 class="mdl-card__title-text">Updates</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae sint neque sapiente corrupti reprehenderit quaerat necessitatibus ab, quasi, natus nemo non consequatur, eveniet voluptatem labore molestiae et autem soluta voluptatibus.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
        </div>
      </div>

      <div class="demo-separator mdl-cell--1-col"></div>

      <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
          <h3>Office Location</h3>
          <ul>
            <li>
              San Francisco
            </li>
            <li>
              Orlando
            </li>
            <li>
              Boston
            </li>
            <li>
              Chicago
            </li>
          </ul>
        </div>

        <div class="mdl-card__actions mdl-card--border" style="padding: 0 0 10px 20px;">
          <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Upcoming office</a>
          <div class="mdl-layout-spacer"></div>
          <i class="material-icons">location_on</i><span>Montreal</span>
        </div>
      </div>

    </div>

  </div>

</main>
