{{ top-bar title='Issues' }}

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">

  <div class="mdl-textfield">
    {{input value=filterText type='text' placeholder='Filter ...' class='mdl-textfield__input'}}
  </div>

    {{#if filteredResults }}
    
    <table class="">
      <thead>
        <tr>
          <th id="table-id" {{action "sortBy" "id" "#table-id"}} class="table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>ID
          </th>

          <th id="table-status" {{action "sortBy" "status_open" "#table-status"}} class=" table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>Status
          </th>

          <th id="table-description" {{action "sortBy" "description" "#table-description"}} class=" table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>Description
          </th>

          <th id="table-customer" {{action "sortBy" "customer_name" "#table-customer"}} class=" table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>Customer
          </th>

          <th id="table-customer-email" {{action "sortBy" "customer_email" "#table-customer-email"}} class=" table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>Customer Email
          </th>

          <th id="table-submitted" {{action "sortBy" "submitted_at" "#table-submitted"}} class="table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>Submitted
          </th>

          <th id="table-employee" {{action "sortBy" "employee_name" "#table-employee"}} class=" table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>Employee
          </th>

          <th id="table-closed" {{action "sortBy" "closed_at" "#table-closed"}} class=" table-header">
            <i class="material-icons" role="presentation">keyboard_arrow_down</i>Closed
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each filteredResults as |data| }}
          <tr>
            <td>{{ data.id }}</td>
            <td class="">{{ data.status_open }}</td>
            <td class="">{{ limitCharacters data.description }}</td>
            <td class="">{{ data.customer_name }}</td>
            <td class="email">{{ data.customer_email }}</td>
            <td>{{ data.submitted_at }}</td>
            <td class="">{{ data.employee_name }}</td>
            <td class="">{{ checkIfclosed data.status_open date=data.closed_at }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{else}}
      <div class="no-result">
        <h3>None ...</h3>
      </div>
    {{/if}}

  </div>
</main>