{{!-- Spreadsheet style view for issues (filter & sort features) --}}
{{!-- 
- submission timestamp
- customer name
- customer email
- description
- open/closed status
- closed timestamp
- employee name
 --}}
{{ top-bar title='Issues' }}

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th>ID</th>
          <th class="mdl-data-table__cell--non-numeric">Status</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Customer</th>
          <th class="mdl-data-table__cell--non-numeric">Customer Email</th>
          <th>Submitted date</th>
          <th class="mdl-data-table__cell--non-numeric">Employee</th>
          <th class="mdl-data-table__cell--non-numeric">Closed date</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |data| }}
          <tr>
            <td>{{ data.id }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ data.status_open }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ limitCharacters data.description }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ data.customer_name }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ data.customer_email }}</td>
            <td>{{ data.submitted_at }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ data.employee_name }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ data.closed_at }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</main>